.side {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 20px;
}

.side {
    font-family: 'FontAwesom';
}

.side h6 {
    color: #fff;
    font-weight: bold;
}

.side a {
    padding: 6px 8px 0.5px 16px;
    display: block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
}

.side a:hover{
    color: #9f9f9f;
}
