<template>
  <header class = "header">
    <h1>BurdgerQueen</h1>
  </header>

</template>

<script>
export default{
	name: "Header"
}
</script>


<style scoped>
	.header{
		background: #454646;
		color: #fff;
		text-align: center;
		padding: 10px;
	}

	.header a {
		color: #fff;
		padding-right: 5px;
	}
</style>